#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	max-width: 1280px;
	padding: 2rem;
}

body {
	margin: 20px;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

